
<header class="sticky-top" [class.header_change]="header_var">
  <nav class="navbar navbar-expand-lg sticky-top">
    <app-side-nav [sidenavTemplateRef]="navContent"
                  [direction]="'left'"
                  [navWidth]="280"
                  [duration]="0.5"></app-side-nav>
    <ng-template #navContent>
      SIde Nav bar content
    </ng-template>
    <div class="navbar-collapse">
      <span class="material-symbols-outlined" (click)="toggleSideNav()">
        apps
      </span>
      <a class="navbar-brand" href="#">Zomato</a>
    </div>
    <div class="navbtn">
      <button class="btn btn-outline-success first" type="submit">
        <span class="material-symbols-outlined align-middle">
          person
        </span><span class="align-middle">Login</span>
      </button>
      <button class="btn btn-outline-success second" type="submit">
        <span class="material-symbols-outlined align-middle">
          expand_less
        </span><span class="align-middle">Sign In</span>
      </button>
    </div>

  </nav>
</header>
<!--- Second Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!--  End Nav -->


<section class="section1">
  <div class="main-section">
    
      
  <p>Order your favourite dishes</p>
      

    
  
    <input type="text"/>
    <span>230</span>
    <span>30000</span>
     
    
    <img src="/assets/img/img.png" alt="image"/>
      
    </div>
</section>
<section class="section2">

</section>
